
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato:400,300,100', sans-serif;
  font-weight: 100;
  color: map_get($myColors, mainFontColor);
}

.purple {
  color: map_get($myColors, mainPurple) !important;
}

.active {
  background-color: map_get($myColors, mainPurple);
}


.buttonActive {
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: map_get($myColors, white);
  display: inline-block;
  width: 70px;
  padding: 6px 0 6px 0;
  border-radius: 5px;
  background-color: map_get($myColors, mainPurple);

}

.button {
  text-align: center;
  text-decoration: none;
  color: map_get($myColors, mainFontColor);
  display: inline-block;
  width: 70px;
  padding: 6px 0 6px 0;
  border-radius: 5px;
  border: 1px solid;
}

.align {
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
}

/* my 12 column grid */

.col-1 {
  width: calc(8.33% - 4px);
  float: left;
  margin: 2px;
}

.col-2 {
  width: calc(16.66% - 4px);
  float: left;
  margin: 2px;
}

.col-3 {
  width: calc(24.99% - 4px);
  float: left;
  margin: 2px;
}

.col-4 {
  width: calc(33.33% - 4px);
  float: left;
  margin: 2px;
}

.col-5 {
  width: calc(41.66% - 4px);
  float: left;
  margin: 2px;
}

.col-6 {
  width: calc(50% - 4px);
  float: left;
  margin: 2px;
}

.col-7 {
  width: calc(58.33% - 4px);
  float: left;
  margin: 2px;
}

.col-8 {
  width: calc(66.66% - 4px);
  float: left;
  margin: 2px;
}

.col-9 {
  width: calc(75% - 4px);
  float: left;
  margin: 2px;
}

.col-10 {
  width: calc(83.33% - 4px);
  float: left;
  margin: 2px;
}

.col-11 {
  width: calc(91.66% - 4px);
  float: left;
  margin: 2px;
}

.col-12 {
  width: calc(100% - 4px);
  float: left;
  margin: 2px;
}

.container {
  width: $maincontainer;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}


.row {
  width: $row;
}

/* focus section styling including main baxkground image and navigation*/

.focus {
  font-family: 'Open Sans', sans-serif;
  padding: 50px 0 50px 0;
  text-align: center;
  background: url("../img/mainBackgroundPhoto.jpg");
  background-size: cover;
  color: map_get($myColors, white);
  h2 {
    font-size: 5.6em;
    font-weight: 100;
    padding: 0 0 30px 0;
  }
  h4 {
    font-size: 2.2em;
    font-weight: 100;
    padding: 0 0 20px 0;
  }
  p {
    font-size: 1.1em;
    font-weight: 300;
  }
}

.pictureNav {
  padding: 70px 0 0 0;
}

.services {
  a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: map_get($myColors, white);
  }
  height: 180px;
  background: url("../img/border.png") center;
  position: relative;
  .innerServices {
    position: absolute;
    top: 50px;
    left: 50px;
    p {
      color: map_get($myColors, white);
    }
  }
}


.portfolio {
  a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: map_get($myColors, white);
  }
  height: 180px;
  background: url("../img/border.png") center;
  position: relative;
  .innerPortfolio {
    position: absolute;
    top: 50px;
    left: 50px;
    p {
      color: map_get($myColors, white);
    }
  }
}

.about {
  a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: map_get($myColors, white);
  }
  height: 180px;
  background: url("../img/border.png") center;
  position: relative;
  .innerAbout {
    position: absolute;
    top: 50px;
    left: 55px;
    p {
      color: map_get($myColors, white);
    }
  }
}

.team {
  a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: map_get($myColors, white);
  }
  height: 180px;
  background: url("../img/border.png") center;
  position: relative;
  .innerTeam {
    position: absolute;
    top: 50px;
    left: 55px;
    p {
      color: map_get($myColors, white);
    }
  }
}

.blog {
  a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: map_get($myColors, white);
  }
  height: 180px;
  background: url("../img/border.png") center;
  position: relative;
  .innerBlog {
    position: absolute;
    top: 50px;
    left: 55px;
    p {
      color: map_get($myColors, white);
    }
  }
}

.contact {
  a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: map_get($myColors, white);
  }
  height: 180px;
  background: url("../img/border.png") center;
  position: relative;
  .innerContact {
    position: absolute;
    top: 50px;
    left: 52px;
    p {
      color: map_get($myColors, white);
    }
  }
}

.arrowDown {
  height: 120px;
  width: 120px;
  margin: 0 auto;
  background: url("../img/arrowDown.png");
}

.mainNav {
  background-color: map_get($myColors, white);
  z-index: 5;
  width: 100%;
  h2 {
    position: relative;
    bottom: 7px;
    font-weight: 100;
    font-size: 1.9em;
  }
  ul {
    list-style-type: none;
    text-transform: uppercase;
    li {
      float: left;
      padding: 0 15px 0 15px;
    }
    a {
      display: block;
      text-decoration: none;
      font-weight: 400;
      font-size: 1.05em;
      color: map_get($myColors, mainFontColor);
      &:hover {
        color: map_get($myColors, mainPurple);
      }
      &:active {
        color: map_get($myColors, mainPurple);
      }
      &:focus {
        color: map_get($myColors, mainPurple);
      }
    }
  }
  .row {
    padding: 5% 0 4% 0;
  }
}

/* styles for section features */

.features {
  .heartImg {
    background-image: url("../img/heartImgHover.png");
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  .diamondImg {
    background-image: url("../img/diamondImg.png");
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  .binImg {
    background-image: url("../img/binImg.png");
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  .phoneImg {
    background-image: url("../img/phoneImg.png");
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  div {
    padding: 0 5px 0 5px;
  }
  h3 {
    padding: 20% 0 20% 0;
    font-size: 1.5em;
    font-weight: 100;
  }
  p {
    line-height: 2;
  }
  padding: 8% 0 8% 0;
  text-align: center;
  background-color: map_get($myColors, lightGreyBackground);
}


/* styles for section aboutUs */

.aboutUs {
  padding: 0 0 100px 0;
  .title {
    text-align: center;
    h3 {
      margin: 100px 0 100px 0;
      font-size: 3em;
      display: inline-block;
      font-weight: 100;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  a.button {
    text-align: center;
    text-decoration: none;
    color: map_get($myColors, white);
    font-weight: 400;
    display: block;
    width: 200px;
    padding: 19px 10px 19px 10px;
    border-radius: 5px;
    background-color: map_get($myColors, mainPurple);
    position: absolute;
    bottom: 15px;

  }
  .aboutUsText {
    position: relative;
    line-height: 2;
    .aboutUsDescription {
      padding: 0 0 0 10px;
    }
  }
}

.blurredImg {
  height: 600px;
  background: url("../img/scrollBackgroundImg.jpg");
  background-size: cover;
  text-align: center;
  .container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
  }
  p {
    padding: 5% 0 0 0;
    color: map_get($myColors, white);
    font-size: 3.5em;
  }
}

/* styles for ourTeam section */

.ourTeam {
  margin: 0 0 100px 0;
  text-align: center;
  h3 {
    margin: 100px 0 100px 0;
    font-size: 3em;
    font-weight: 100;
  }
  h4 {
    font-size: 1.4em;
    display: inline-block;
  }
  ul {
    list-style-type: none;
  }
}



.greyCircle {
  width:180px;
  height: 180px;
  background-color: map_get($myColors, greyCircle);
  border-radius: 50%;
  margin: 60px auto;
}
.socials {
   padding: 20px 0 20px 0;
  .socialIcon {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid map_get($myColors, greyCircle);
    position: relative;
    &:first-child {
      margin-right: 5px;
    }
    &:nth-child(2) {
      margin-right: 5px;
    }
    .innerIcon {
      position: absolute;
      top: 5px;
      left: 12px;
    }
  }
}

.skills {

  padding: 0 0 30px 0;
  .left, .right {
    h4 {
      float: left;
    }
    span {
      float: right;
    }
  }
  span {
    padding: 0 0 0 30px;
  }
  .skillBar {
    height:20px;
    background-color: map_get($myColors, greyCircle);
    p.skillBar1 {
      height: 20px;
      background-color: map_get($myColors, mainPurple);
      width: 90%;
    }
    p.skillBar2 {
      height: 20px;
      background-color: map_get($myColors, mainPurple);
      width: 70%;
    }
    p.skillBar3 {
      height: 20px;
      background-color: map_get($myColors, mainPurple);
      width: 75%;
    }
    p.skillBar4 {
      height: 20px;
      background-color: map_get($myColors, mainPurple);
      width: 85%;
    }
  }
}


/* styles for services */

.ourServices {
  background-color: map_get($myColors, lightGreyBackground);
  text-align: center;
  padding: 0 0 100px 0;
  .servicesInNumbers {
    padding: 100px 0 0 0;
    p {
      font-size: 3em;
      letter-spacing: -2px;
      color: map_get($myColors, black);
    }
    footer {
      padding: 10px 0 0 0;
      font-size: 0.8em;
    }
  }
  .servicesCircle {
    padding: 50px 0 0 0;
    .greyCircle {
      height: 150px;
      width: 150px;
      background-color: map_get($myColors, darkerGreyCircle);
      margin: 40px auto;
    }
    p {
      font-size: 1.5em;
      font-weight: 400;
      padding: 0 0 20px 0;
    }
    footer {
      font-weight: 700;
      font-size: 0.9em;
      text-transform: uppercase;
      padding: 0 0 35px 0
    }
  }
  .smallCircle {
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px solid;
    border-radius: 50%;
  }
  .smallGreyCircle {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: map_get($myColors, mainFontColor);
    border-radius: 50%;
  }
}


/* styles for portfolio */


.ourPortfolio {
  h3 {
    margin: 100px 0 100px 0;
    font-size: 3em;
    font-weight: 100;
  }
  .thumbnail {
    height: 346px;
  }
  img {
    width: 100%;
    height: auto;
  }
  h3 {
    text-align: center;
    font-weight: 100;
  }
  .iconsRow {
    padding: 0 0 50px 0;
    .icons {
      text-align: center;
      a {
        margin: 0 10px 0 10px;
        text-transform: uppercase;
      }
  }
  }
  .portfolioImages {
    text-align: center;
    img {
      padding: 0 0 10px 0;
    }
    p {
      font-size: 1.3em;
      color: map_get($myColors, black);
      letter-spacing: -1px;
      padding: 0 0 3px 0;
    }
    footer {
      color: map_get($myColors, darkGrey);
      font-size: 0.9em;
      padding: 0 0 28px 0;
    }
  }
  .portfolioButton {
    padding: 30px 0 0 0;
    a {
      @extend .buttonActive;
      width: 175px;
      padding: 22px 0 22px 0;
    }
  }
}


.mainFooter {
  .socialIcon {
    height:70px;
    width: 70px;
    font-size: 2em;
    &:first-child, &:nth-child(2), &:nth-child(3) {
      margin: 0 30px 0 0;
    }
    .innerIcon {
      position: absolute;
      top: 15px;
      left: 28px;
    }
  }
  h3 {
    font-size: 3em;
    margin: 100px 0 100px 0;
    font-weight: 100;
  }
  .formBlock {
    font-size: 18px;
    color: map_get($myColors, black);
    display: block;
    background-color: map_get($myColors, white);
    border: 1px solid map_get($myColors, mainFontColor);
    width: 90%;
    padding: 20px 25px 20px 25px;
    margin: 0 0 30px 0;
    &:nth-child(3) {
      height: 250px;
    }
  }
  .buttonActive {
    @extend .buttonActive;
    width: 200px;
    padding: 20px 25px;
    font-weight: 400;
  }
  .footerInfo {
    p {
      font-size: 1.3em;
      margin: 0 0 40px 0;
      color: map_get($myColors, black);
    }
    .addressInfo {
      font-size: 1.5em;
      font-weight: 400;
    }

  }
}


/* responsive styles */


@media (max-width: 1020px) {
  h3 {
    margin: 50px 0 50px 0 !important;
  }
  .ourTeam {
    margin: 0 0 50px 0;
  }
  body {
    font-size: 0.8em;
  }
  .container {
    width: 900px;
  }
  .picNav {
    display: none;
  }
  .innerIcon {
    left: 14px !important;
    top: 8px !important;
  }
  .mainFooter {
    .innerIcon {
      left: 27px !important;
      top: 17px !important;
    }
  }
}

@media (max-width: 900px) {
  h3 {
    margin: 30px 0 30px 0 !important;
  }
  .ourTeam {
    margin: 0 0 30px 0;
  }
  body {
    font-size: 0.8em;
  }
  .container {
    width: 600px;
  }
  .picNav {
    display: none;
  }
  .mainNav li {
    font-size: 0.9em;
  }
  .aboutUs {

    text-align: center;
    .col-6 {
      margin: 0 auto;
      width: 100%;
    }
    .col-5 {
      width: 100%;
      .button {
        position: static;
        margin: 0 auto;
      }
    }
  }
  .features {
    div.col-3 {
      width: 100%;
      h3 {
        padding: 0;
        margin: 0;
      }
      p {
        padding: 0;
        margin: 0;
      }
    }
  }
  .innerIcon {
    left: 14px !important;
    top: 9px !important;
  }
  .mainFooter {
    .socialIcon {
      width: 60px;
      height: 60px;
      font-size: 1.5em;
      .innerIcon {
        height: 40px;
        width: 40px;
        left: 24px !important;
        top: 17px !important;
      }
    }
  }
}


@media (max-width: 630px) {
  h3 {
    margin: 10px 0 10px 0 !important;
  }
  .ourTeam {
    margin: 0 0 10px 0;
  }
  body {
    font-size: 0.6em;
  }
  .greyCircle {
    width: 90px;
    height: 90px;
  }
  .portfolioImages {
    .col-4 {
      width: 100%;
    }
  }
  .heartImg, .diamondImg, .binImg, .phoneImg {
    display: none;
  }
  .container {
    width: 350px;
  }
  section.focus {
    display: none;
  }
  .mainNav {
    div.col-4, div.col-8 {
      width: 100%;

    }
    .col-4 {
      h2 {
        text-align: center;
        font-size: 3.5em;
      }
    }
    .col-8 {
      li {
        float: none;
        text-align: center;
        font-size: 1.9em;
        padding: 5px;
      }
      a {
        &:hover {
          background-color: map_get($myColors, mainPurple);
          color: map_get($myColors, white);
        }
      }
    }
  }
  .innerIcon {
    left: 14px !important;
    top: 10px !important;
  }
  .col-6 {
    text-align: center;
    width: 100%;
  }
  .formBlock {
    width: 100% !important;
  }
  .aboutUs {
    .col-6 {
      display: none;
    }
    .container {
      position: relative;
      top: 50%;
      transform: translateY(20%);
    }
    }
  .servicesInNumbers {
    footer {
      font-size: 1.2em !important;
    }
  }
  .mainFooter {
    .socialIcon {
      width: 60px;
      height: 60px;
      font-size: 1.5em;
      .innerIcon {
        height: 40px;
        width: 40px;
        left: 10px !important;
        top: 18px !important;
      }
    }
  }
}







