
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;

}

/* my 12 column grid */

.col-1 {
  width: calc(8.33% - 4px);
  float: left;
  margin: 2px;
}

.col-2 {
  width: calc(16.66% - 4px);
  float: left;
  margin: 2px;
}

.col-3 {
  width: calc(24.99% - 4px);
  float: left;
  margin: 2px;
}

.col-4 {
  width: calc(33.33% - 4px);
  float: left;
  margin: 2px;
}

.col-5 {
  width: calc(41.66% - 4px);
  float: left;
  margin: 2px;
}

.col-6 {
  width: calc(50% - 4px);
  float: left;
  margin: 2px;
}

.col-7 {
  width: calc(58.33% - 4px);
  float: left;
  margin: 2px;
}

.col-8 {
  width: calc(66.66% - 4px);
  float: left;
  margin: 2px;
}

.col-9 {
  width: calc(75% - 4px);
  float: left;
  margin: 2px;
}

.col-10 {
  width: calc(83.33% - 4px);
  float: left;
  margin: 2px;
}

.col-11 {
  width: calc(91.66% - 4px);
  float: left;
  margin: 2px;
}

.col-12 {
  width: calc(100% - 4px);
  float: left;
  margin: 2px;
}

.container {
  width: $maincontainer;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}


.row {
  width: $row;
  margin: 0 0 20px 0;
}


