
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: map_get($myColors, mainFontColor);
}

.purple {
  color: map_get($myColors, mainPurple);
}

.active {
  background-color: map_get($myColors, mainPurple);
}



/* my 12 column grid */

.col-1 {
  width: calc(8.33% - 4px);
  float: left;
  margin: 2px;
}

.col-2 {
  width: calc(16.66% - 4px);
  float: left;
  margin: 2px;
}

.col-3 {
  width: calc(24.99% - 4px);
  float: left;
  margin: 2px;
}

.col-4 {
  width: calc(33.33% - 4px);
  float: left;
  margin: 2px;
}

.col-5 {
  width: calc(41.66% - 4px);
  float: left;
  margin: 2px;
}

.col-6 {
  width: calc(50% - 4px);
  float: left;
  margin: 2px;
}

.col-7 {
  width: calc(58.33% - 4px);
  float: left;
  margin: 2px;
}

.col-8 {
  width: calc(66.66% - 4px);
  float: left;
  margin: 2px;
}

.col-9 {
  width: calc(75% - 4px);
  float: left;
  margin: 2px;
}

.col-10 {
  width: calc(83.33% - 4px);
  float: left;
  margin: 2px;
}

.col-11 {
  width: calc(91.66% - 4px);
  float: left;
  margin: 2px;
}

.col-12 {
  width: calc(100% - 4px);
  float: left;
  margin: 2px;
}

.container {
  width: $maincontainer;
  margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}


.row {
  width: $row;
}

/* focus section styling including main baxkground image and navigation*/

.focus {
  padding: 70px 0 0 0;
  text-align: center;
  font-weight: 300;
  background: url("../img/mainBackgroundPhoto.jpg");
  background-size: cover;
  color: map_get($myColors, white);
  h2 {
    font-size: 4em;
    padding: 0 0 60px 0;
  }
  h4 {
    font-size: 2.3em;
    padding: 0 0 30px 0;
  }
  p {
    font-size: 1.2em;
  }
}

.pictureNav {
  padding: 70px 0 0 0;
}

.services {
  a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: map_get($myColors, white);
  }
  height: 180px;
  background: url("../img/border.png") center;
  position: relative;
  .innerServices {
    position: absolute;
    top: 45px;
    left: 50px;
    p {
      color: map_get($myColors, white);
    }
  }
}


.portfolio {
  a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: map_get($myColors, white);
  }
  height: 180px;
  background: url("../img/border.png") center;
  position: relative;
  .innerPortfolio {
    position: absolute;
    top: 45px;
    left: 50px;
    p {
      color: map_get($myColors, white);
    }
  }
}

.about {
  a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: map_get($myColors, white);
  }
  height: 180px;
  background: url("../img/border.png") center;
  position: relative;
  .innerAbout {
    position: absolute;
    top: 45px;
    left: 55px;
    p {
      color: map_get($myColors, white);
    }
  }
}

.team {
  a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: map_get($myColors, white);
  }
  height: 180px;
  background: url("../img/border.png") center;
  position: relative;
  .innerTeam {
    position: absolute;
    top: 45px;
    left: 55px;
    p {
      color: map_get($myColors, white);
    }
  }
}

.blog {
  a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: map_get($myColors, white);
  }
  height: 180px;
  background: url("../img/border.png") center;
  position: relative;
  .innerBlog {
    position: absolute;
    top: 45px;
    left: 55px;
    p {
      color: map_get($myColors, white);
    }
  }
}

.contact {
  a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: map_get($myColors, white);
  }
  height: 180px;
  background: url("../img/border.png") center;
  position: relative;
  .innerContact {
    position: absolute;
    top: 45px;
    left: 55px;
    p {
      color: map_get($myColors, white);
    }
  }
}

.arrowDown {
  padding: 0 0 7% 0;
}

.mainNav {
  h2 {
    position: relative;
    bottom: 7px;
  }
  ul {
    list-style-type: none;
    text-transform: uppercase;
    li {
      float: left;
      padding: 0 15px 0 15px;
    }
    a {
      display: block;
      text-decoration: none;
      color: map_get($myColors, mainFontColor);
      &:hover {
        color: map_get($myColors, mainPurple);
      }
    }
  }
  .row {
    padding: 5% 0 4% 0;
  }
}

/* styles for section features */

.features {
  div {
    padding: 0 5px 0 5px;
  }
  h3 {
    padding: 20% 0 20% 0;
    font-size: 1.5em;
  }
  p {
    line-height: 2;
  }
  padding: 8% 0 8% 0;
  text-align: center;
  background-color: map_get($myColors, lightGreyBackground);
}


/* styles for section aboutUs */

.aboutUs {
  padding: 8% 0 8% 0;
  .title {
    text-align: center;
    h3 {
      font-size: 3em;
      display: inline-block;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  a.button {
    text-align: center;
    text-decoration: none;
    color: map_get($myColors, white);
    display: block;
    width: 200px;
    padding: 19px 10px 19px 10px;
    border-radius: 5px;
    background-color: map_get($myColors, mainPurple);
    position: absolute;
    bottom: 0;

  }
  .aboutUsText {
    position: relative;
    padding: 10% 0 0 0;
  }
}

.blurredImg {
  height: 600px;
  background: url("../img/scrollBackgroundImg.jpg");
  background-size: cover;
  text-align: center;
  .container {
    position: relative;
    top: 150px;
  }

  p {
    padding: 5% 0 0 0;
    color: map_get($myColors, white);
    font-size: 3.5em;
  }
}

/* styles for ourTeam section */

.ourTeam {
  text-align: center;
  h3 {
    padding: 100px 0 0 0;
    font-size: 3em;
  }
  h4 {
    font-size: 1.4em;
    display: inline-block;
  }
}

.arrows {
  padding: 120px 0 60px 0;
}

.greyCircle {
  width:180px;
  height: 180px;
  background-color: map_get($myColors, greyCircle);
  border-radius: 50%;
  margin: 60px auto;
}
.socials {
   padding: 20px 0 20px 0;
  .socialIcon {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid map_get($myColors, greyCircle);
    position: relative;
    &:first-child {
      margin-right: 5px;
    }
    &:nth-child(1) {
      margin-left: 5px;
    }
    .innerIcon {
      position: absolute;
      top: 5px;
      left: 12px;
    }
  }
}

.skills {
  padding: 0 0 50px 0;
  .left, .right {
    h4 {
      float: left;
    }
    span {
      float: right;
    }
  }
  span {
    padding: 0 0 0 30px;
  }
  .skillBar {
    height:20px;
    background-color: map_get($myColors, greyCircle);
    p.skillBar1 {
      height: 20px;
      background-color: map_get($myColors, mainPurple);
      width: 90%;
    }
    p.skillBar2 {
      height: 20px;
      background-color: map_get($myColors, mainPurple);
      width: 70%;
    }
    p.skillBar3 {
      height: 20px;
      background-color: map_get($myColors, mainPurple);
      width: 75%;
    }
    p.skillBar4 {
      height: 20px;
      background-color: map_get($myColors, mainPurple);
      width: 85%;
    }
  }
}


/* styles for services */

.ourServices {
  background-color: map_get($myColors, lightGreyBackground);
  text-align: center;
}


/* styles for portfolio */


.ourPortfolio {
  img {
    width: 100%;
    height: auto;
  }
  margin: 150px 0 0 0;
  h3 {
    text-align: center;
  }
}


.mainFooter {
  margin: 300px 0 0 0;
}